<h1><%= @new_pirate.name %></h1>
<p>Weight: <%= @new_pirate.weight %></p>
<p>Height: <%= @new_pirate.height %></p>

<% @ships.each do |ship| %>
  <h2><%= ship.name %></h2>
  <p>Type: <%= ship.type %></p>
  <p>Booty: <%= ship.booty %></p>
<% end %>
